* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #973aa8;
  --secondary: #973aa81a;
  --text: #202020;
  --dimtext: #888888;
  --bg: #f8f8f8;
  --whitebg: #ffffff;
  --stroke: #d9d9d9;
}

html {
  font-family: "Satoshi", sans-serif;
  max-width: 100%;
  scroll-behavior: smooth;
  transition: all linear 0.15s;
}

body {
  background: var(--bg);
}

p {
  color: var(--text);
  font-weight: 500;
}

span {
  color: var(--stroke);
}

.star {
  color: red;
}

.logo img {
  width: 60%;
}

/* form */
.main-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 100px;
}

.form-container {
  background: var(--whitebg);
  width: 560px;
  /* height: 630px; */
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 40px;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  padding: 40px 50px 80px 50px;
  outline: 1px solid var(--stroke);
}

.form-header {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}

.divider {
  background-color: var(--stroke);
  width: 122%;
  height: 1px;
}

.title,
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  gap: 10px;
}

.title p {
  color: var(--dimtext);
  width: 80%;
  text-align: center;
}

.form-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 100%;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.inputs label {
  font-weight: 500;
}

.inputs input {
  width: 100%;
  height: 48px;
  border: 1px solid var(--whitebg);
  outline: 1px solid var(--stroke);
  border-radius: 10px;
  padding: 0 16px;
  font-family: satoshi, sans-serif;
  font-size: 16px;
  transition: all linear 0.15s;
}

.inputs input:focus {
  border: 1px solid var(--primary);
  outline: 3px solid var(--secondary);
  transition: all linear 0.15s;
}

.inputs select {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  height: 48px;
  border: 1px solid var(--whitebg);
  outline: 1px solid var(--stroke);
  border-radius: 10px;
  padding: 0 16px;
  font-family: satoshi, sans-serif;
  font-size: 16px;
  text-indent: 1px;
  text-overflow: "";
  transition: all linear 0.15s;
}

.inputs select:focus {
  border: 1px solid var(--primary);
  outline: 3px solid var(--secondary);
  transition: all linear 0.15s;
  outline: none;
}

.inputs a {
  width: 100%;
  height: 48px;
  background: var(--secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  text-decoration: none;
  color: var(--primary);
  font-weight: 500;
}

.inputs textarea {
  width: 100%;
  height: 150px;
  border: 1px solid var(--whitebg);
  outline: 1px solid var(--stroke);
  border-radius: 10px;
  padding: 10px;
  font-family: satoshi, sans-serif;
  font-size: 16px;
  transition: all linear 0.15s;
}

.inputs textarea:focus {
  border: 1px solid var(--primary);
  outline: 3px solid var(--secondary);
  transition: all linear 0.15s;
}

select::-ms-expand {
  display: none;
}

.cta-button {
  width: 100%;
}

.cta-button input {
  width: 100%;
  height: 48px;
  border: none;
  border-radius: 10px;
  background-color: var(--primary);
  color: var(--whitebg);
  font-family: satoshi, sans-serif;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 2px 40px var(--secondary);
  outline: none;
}

.other-link {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.other-link a {
  color: var(--primary);
  font-weight: 500;
}

.input-number {
  width: 100%;
  display: flex;
  gap: 10px;
}

.input-number input {
  width: 100%;
  height: 80px;
  text-align: center;
  border-radius: 8px;
  border: none;
  outline: 1px solid var(--stroke);
  font-size: 20px;
}
/* form */

/* index */
.navbar {
  width: 100%;
  background: var(--whitebg);
  padding: 16px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navlinks {
  display: flex;
  gap: 28px;
}

.navlinks a {
  color: var(--dimtext);
  text-decoration: none;
  font-weight: 500;
  transition: all linear 0.15s;
}

.navlinks a:hover {
  color: var(--primary);
  transition: all linear 0.15s;
}

.account {
  display: flex;
  gap: 10px;
  align-items: center;
}

.profile-initials {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary);
  padding: 16px;
  border-radius: 32px;
  font-weight: 700;
  color: var(--primary);
}

.service-title h2{
  color: var(--primary);
  font-size: 18px;
  width: 60%;
}

.log-button a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg);
  padding: 14px 16px;
  border-radius: 8px;
  text-decoration: none;
  color: var(--dimtext);
  font-weight: 500;
}

.two-grids {
  margin-top: 20px;
  background: var(--whitebg);
  width: 100%;
  height: fit-content;
  display: flex;
  border-radius: 12px;
}

.left-grid {
  width: 50%;
  background: url(./img/audit.jpg);
  background-position: center;
  background-size: cover;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.right-grid {
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 60px;
}

.inputs input[type="file"] {
  padding: 12px;
}

.content-container {
  margin-top: 20px;
  width: 100%;
  background-color: #ffffff;
  height: fit-content;
  padding: 40px 60px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.page-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header input {
  width: 800px;
  height: 48px;
  padding: 0 16px;
  border: 1px solid var(--whitebg);
  outline: 1px solid var(--stroke);
  border-radius: 10px;
  font-family: satoshi, sans-serif;
  font-size: 16px;
  transition: all linear 0.15s;
}

.page-header input:focus {
  border: 1px solid var(--primary);
  outline: 3px solid var(--secondary);
  transition: all linear 0.15s;
}

.audit-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.audit-card {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
  border-bottom: 1px solid var(--bg);
}

.service-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.service-title h3 {
  font-size: 16px;
  color: var(--primary);
}

.head {
  display: flex;
  gap: 10px;
  align-items: center;
}

.status,
.report {
  display: flex;
  padding: 10px;
  gap: 10px;
  outline: 1px solid var(--stroke);
  border-radius: 8px;
  color: var(--dimtext);
}

.status {
  background-color: var(--secondary);
}

.link {
  text-decoration: none;
  display: flex;
  padding: 10px;
  outline: 1px solid var(--stroke);
  border-radius: 10px;
  color: var(--primary);
  font-weight: 500;
}

.actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.actions a {
  text-decoration: none;
  font-weight: 500;
  transition: all linear 0.15s;
}

.main-button {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: var(--primary);
  color: var(--whitebg);
  text-decoration: none;
  border-radius: 8px;
  box-shadow: 0 2px 40px var(--secondary);
}

.avatar {
  width: 64px;
  height: 64px;
  object-fit: cover;
}

.avatar img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.phases {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.checklist-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px 0px;
  border-bottom: 1px solid var(--stroke);
}

.small-title {
  color: var(--primary);
  font-weight: 500;
}

.checker-container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  color: var(--primary);
}

.box {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 16px;
  outline: 1px solid var(--stroke);
  border-radius: 10px;
  font-weight: 500;
}

.score-container {
  width: 100%;
  height: 72px;
  border-radius: 12px;
  border: 1px dashed var(--secondary);
  padding: 0 16px;
  background-color: var(--secondary);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.score {
  color: var(--primary);
  text-decoration: underline;
}

.reports-container{
  width: 100%;
  display: flex;
  gap: 24px;
}

.report-card{
  width: 33%;
  display: flex;
  flex-direction: column;
  padding: 32px;
  outline: 1px solid var(--stroke);
  border-radius: 10px;
}

.report-card .details{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
}

.section{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.top-header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--stroke);
}

.date{
  display: flex;
  padding: 10px;
  outline: 1px solid var(--stroke);
  border-radius: 10px;
}

.side-content{
  display: flex;
  gap: 8px;
  font-size: 15px;
}

/* index */
